/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('portfolio_css.jpg') no-repeat center center fixed;
  color: #f5f3f3;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow-x: hidden;
  background-size: cover;
}

/* Header */
header {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed; /* Fix the header at the top */
  top: 0; /* Align it to the top of the viewport */
  left: 0; /* Align it to the left edge */
  width: 100%; /* Make the header span the full width of the screen */
  z-index: 1000; /* Ensure it stays above other elements */
  animation: slideDown 0.8s ease-in-out;
}

body {
  margin-top: 300px;
}

header h1 {
  font-size: 2 rem;
  color: #0ae4bc;
}

nav a {
  color: #E9F0F5;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  position: relative;
}

nav a:hover {
  color: #91e40a;
  text-shadow: 0px 0px 8px rgba(255, 107, 53, 0.8);
}

main {
  padding: 0px 600px;
  animation: fadeIn 1s ease-in;
  text-align: center;

}


/* Styles for buttons and images */
.btn {
  background-color: #e75e08;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0abe82;
}


/* Footer */
/* Simple Static Footer */
footer {
  background: #0a0a0a;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem; /* Smaller text size */
  position: fixed;  /* Default static position */
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero, #quote, .blog-posts article {
  animation: fadeIn 1s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  nav a {
    margin: 0 8px;
    font-size: 0.9rem;
  }
}

/* Add slideDown animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}